@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave;
}

@theme {  
  --breakpoint-xs: 30rem;  
  --breakpoint-2xl: 100rem;  
  --breakpoint-3xl: 120rem;
}
